.logo {
	background: url('logo_sprite.png') no-repeat;
	background-size: 350px 3546px;
	background-position: 0 197px; /* hide it */
	width: 350px;
	height: 197px;
}

.logoFallback {
	background-position: 0 -3349px;
}

@media (prefers-color-scheme: dark) {
	.logo {
		filter: invert(100%);
	}
}

.postAnimate {
	/* (1000 / (60 / 14)) * 3 */
	animation: postAnimate 0.7s steps(1) infinite;
}

@keyframes postAnimate {
	0% {
		background-position: 0 -2955px;
	}

	33% {
		background-position: 0 -3152px;
	}

	66% {
		background-position: 0 -3349px;
	}
}

@media (prefers-reduced-motion: reduce) {
	.logo {
		animation: none;
		background-position: 0 -3349px;
	}
}
