.root {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 32px;
	text-align: center;
}

.heading {
	font-size: 2.5em;
	margin-bottom: 32px;
}

.link {
	background: #fff;
	border: 1px solid var(--input-border-color);
	display: block;
	font-size: 1.5em;
	margin-bottom: 16px;
	max-width: 400px;
	padding: 0.5em 1em;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

@media (prefers-color-scheme: dark) {
	.link {
		background: #000;
	}
}

.link:hover,
.link:focus {
	border-color: var(--input-border-hover-color);
}

.infoGroupSeparator {
	height: 48px;
}

.icons {
	display: flex;
	margin-top: 64px;
}

.websiteLink {
	opacity: 0.6;
}

.websiteLink + .websiteLink {
	margin-left: 16px;
}

.websiteLink:hover,
.websiteLink:active,
.websiteLink:focus {
	opacity: 1;
}

.discordIcon,
.githubIcon {
	width: 32px;
	height: 32px;
	display: block;
	fill: var(--body-text-color);
}

.websiteLink:hover .discordIcon,
.websiteLink:active .discordIcon,
.websiteLink:focus .discordIcon {
	fill: #5865f2;
}
