# https://browserslist.dev/?q=PiAwLjIlLCBGaXJlZm94IEVTUiwgbm90IGRlYWQsIG5vdCBvcF9taW5pIGFsbCwgbm90IGllIDExLCBub3QgQW5kcm9pZCA8IDU%3D

> 0.2%
Firefox ESR
not dead
not op_mini all
not ie 11
not Android < 5
