{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": false,
	"overrides": [
		{
			"files": ["devcontainer.json"],
			"options": {
				"trailingComma": "none"
			}
		}
	]
}
