.sidebar {
	border-top: 1px solid var(--editor-border-color);
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	min-height: 0;
	width: 324px; /* 81 * 4 for GeoPreview */
	white-space: pre-wrap;
	word-break: break-word;

	grid-area: sidebar;
}

.group {
	border-top: 1px solid var(--editor-border-color);
}

.properties {
	flex-grow: 1;
	overflow: auto;
}
