.root {
	position: relative;
}

.canvas {
	display: block;
}

.canvasLoading {
	opacity: 0.1;
	transition: opacity 1s ease;
	transition-delay: 0.5s;
}

.loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	align-items: center;

	opacity: 0;
	animation: fadeIn 1s ease;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
