.preset {
	cursor: pointer;
	margin-bottom: 10px;
}

.dogPreview {
	transition: transform 0.1s ease;
}

.preset:hover,
.preset:active,
.preset:focus {
	color: var(--luncheon-orange);
}

.preset:hover .dogPreview,
.preset:active .dogPreview,
.preset:focus .dogPreview {
	transform: scale(1.05);
}

.dogPreviewCanvas {
	width: 100%;
	height: auto;
}

@media (min-width: 600px) {
	.dogPreviewCanvas {
		width: 250px;
		height: 250px;
	}
}

.name {
	margin-top: 5px;
	padding: 5px;
	text-align: center;
}
