.list {
	list-style-type: none;
	padding: 8px 0 0;
}

.item {
	background: transparent;
	border: 0;
	cursor: default;
	display: flex;
	padding: 2px 8px;
	text-align: left;
	width: 100%;
}

.highlight {
	background: #e0ff77;
}

.text {
	flex-grow: 1;
}
