.root {
	display: flex;
	align-items: center;
	padding-left: 8px;
}

.content {
	padding: 0 8px;
	flex: 1;
}

.title {
	font-size: 2em;
	padding: 8px 16px 8px 0;
}

.dataSelector {
	display: flex;
	flex-grow: 1;
}

.leftRight {
	display: flex;
	align-items: center;
}

.flexGrow {
	flex-grow: 1;
}

.githubLink {
	opacity: 0.6;
	padding-left: 8px;
}

.githubLink:hover {
	opacity: 1;
}

.githubIcon {
	width: 24px;
	height: 24px;
	fill: #000;
}
