.root {
	display: flex;
	align-items: center;

	min-height: 102px;
	padding-left: 8px;
}

.content {
	padding: 0 8px;
	flex: 1;
}

.title {
	font-size: 2em;
	padding: 8px 16px 8px 0;
}

.dataSelector {
	display: flex;
	flex-grow: 1;
}

.leftRight {
	display: flex;
	align-items: center;
}

.websiteLink {
	opacity: 0.6;
	margin-left: 8px;
}

.websiteLink:hover,
.websiteLink:active,
.websiteLink:focus {
	opacity: 1;
}

.discordIcon,
.githubIcon {
	width: 20px;
	height: 20px;
	display: block;
	fill: #171515;
}

.websiteLink:hover .discordIcon,
.websiteLink:active .discordIcon,
.websiteLink:focus .discordIcon {
	fill: #5865f2;
}
