.root {
	display: flex;
	align-items: center;

	min-height: 102px;
}

.backToHome {
	display: flex;
	align-items: center;

	height: 100%;
}

.backToHomeArrow {
	height: 100%;
	width: 24px;
	padding: 0 4px;

	margin-right: 8px;
	color: var(--body-text-color);
	opacity: 0.3;
}

.backToHome:hover .backToHomeArrow,
.backToHome:active .backToHomeArrow,
.backToHome:focus .backToHomeArrow {
	background: var(--luncheon-purple);
	opacity: 1;
}

.content {
	padding: 8px 8px 8px 16px;
	flex: 1;
}

.titleWrapper {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto;
	grid-template-areas:
		'title links'
		'dataSelector dataSelector';
}

@media (min-width: 600px) {
	.titleWrapper {
		grid-template-columns: auto 1fr auto;
		grid-template-areas: 'title dataSelector links';
	}
}

.title {
	font-size: 2em;
	padding-right: 16px;

	grid-area: title;
}

.dataSelector {
	grid-area: dataSelector;
}

.links {
	display: flex;
	grid-area: links;
}

.websiteLink {
	opacity: 0.6;
	margin-left: 8px;
}

.websiteLink:hover,
.websiteLink:active,
.websiteLink:focus {
	opacity: 1;
}

.discordIcon,
.githubIcon {
	width: 20px;
	height: 20px;
	display: block;
	fill: var(--body-text-color);
}

.websiteLink:hover .discordIcon,
.websiteLink:active .discordIcon,
.websiteLink:focus .discordIcon {
	fill: #5865f2;
}
