.item {
	margin-left: 8px;
}

.title {
	display: flex;
	align-items: center;
	padding: 0 8px 0 0;
}

.toggleIcon {
	background: none;
	border: 0;
	color: inherit;
	font-size: 0.8em;
	height: 100%;
	padding: 4px 4px 4px 8px;
}

.text {
	flex-grow: 1;
}

.editor {
	margin: 0 8px 0 24px;
	padding-bottom: 8px;
}

.coordinatesRoot {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 4px;
}

.coordinatesText {
	flex-shrink: 0;
	margin: 0 8px;
}

.coordinatesText:first-child {
	margin-left: 0;
}
