.root {
	flex-shrink: 0;
	list-style-type: none;
	min-height: 50px;
	height: 200px;
	overflow: auto;
	padding: 8px;
	resize: vertical;
}

.heading {
	margin-bottom: 4px;
}

.actions {
	margin-top: 8px;
}

.rightPadding {
	margin-right: 8px;
}
