.fontDomigorgon {
	font-family:
		Domigorgon, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}

.fontFiveCents {
	font-family:
		'Five Cents', Domigorgon, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}

.fontLulus {
	font-family:
		Lulus, Domigorgon, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}

.fontMetafors {
	font-family:
		Metafors, Domigorgon, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}

.fontShannnn {
	font-family:
		Shannnn, Domigorgon, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}
