.toolbar {
	border-top: 1px solid var(--editor-border-color);
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	gap: 16px;
	min-height: 0;
	white-space: pre-wrap;
	word-break: break-word;
	padding: 8px;

	grid-area: toolbar;
}

.hidden {
	visibility: hidden;
}

.colorDisplay {
	width: 5em;
	height: 5em;
	margin-bottom: 0.5em;
	border: 1px solid var(--input-border-color);
}

.colorContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5em 0.5em 0;
}

.colorSelect {
	display: flex;
	align-items: center;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	white-space: nowrap;
	width: 100%;
}

.colorBox {
	border: 1px solid var(--input-border-color);
	display: inline-block;
	margin-right: 5px;
	width: 20px;
	height: 20px;
}
