.root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #000;
	flex: 1;
	overflow: scroll;
	padding: 0 10px 10px;
}

.dog {
	margin-bottom: 10px;
}

.controls {
	display: flex;
	margin-bottom: 10px;
}

.selector {
	margin-right: 10px;
	min-width: 200px;
}

.chicorobot {
	margin-bottom: 10px;
}
