.speechOuter {
	margin: 20px 0 0;
	max-width: 750px;
	position: relative;
	z-index: 1;
}

.speechWrap {
	margin: 0 auto -50px;
	padding: 0 20px 0;
	width: fit-content;
}

@media (min-width: 801px) {
	.speechWrap {
		max-width: 375px;
	}
}

@media (min-width: 1441px) {
	.speechWrap {
		max-width: 750px;
	}
}

.speechBody {
	background: url('./images/speech_body.svg') 50% 100% no-repeat;
	background-size: 100% 100%;
	color: #fff;
	font-size: 2em;
	object-fit: fill;
	outline: 0;
	overflow-wrap: break-word;
	padding: 1.2em;
	text-align: center;
	white-space: pre-wrap;
}

.speechArrow {
	background: url('./images/speech_arrow.svg') 50% 100% no-repeat;
	margin: -8px auto 0;
	height: 48px;
	width: 17px;
}
