.speechOuter {
	margin: 20px 0 0;
	max-width: 750px;
	position: relative;
	z-index: 1;
}

.speechWrap {
	margin: 0 auto -100px;
	max-width: 750px;
	width: fit-content;
}

.speechBody {
	background: url('./images/speech_body.svg') 50% 100% no-repeat;
	background-size: 100% 100%;
	color: #fff;
	cursor: text;
	font-size: 2em;
	object-fit: fill;
	outline: 0;
	padding: 1.2em;
	text-align: center;
}

.speechArrow {
	background: url('./images/speech_arrow.svg') 50% 100% no-repeat;
	margin: -8px auto 0;
	height: 48px;
	width: 17px;
}
