.item {
	margin-left: 8px;
}

.highlight {
	background: #e0ff77;
}

.title {
	display: flex;
	align-items: center;
	padding: 0 8px 0 0;
}

.toggleIcon {
	background: none;
	border: 0;
	font-size: 0.8em;
	height: 100%;
	padding: 4px 4px 4px 8px;
}

.text {
	flex-grow: 1;
}

.editor {
	margin: 0 8px 0 24px;
	padding-bottom: 8px;
}
