.root {
	display: grid;
	grid-template-columns: min-content auto auto;
	grid-template-rows: 1fr min-content;
	grid-template-areas:
		'toolbar preview sidebar'
		'toolbar decos sidebar';

	flex: 1;
	min-height: 0;
}

.preview {
	background: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 4px,
		var(--leveleditor-stripe-color) 4px,
		var(--leveleditor-stripe-color) 8px
	);
	border: solid var(--editor-border-color);
	border-width: 1px 1px 0 0;
	overflow: scroll;

	grid-area: preview;
}

.decos {
	height: 300px;
	overflow-y: auto;
	resize: vertical; /* a bit janky... */

	grid-area: decos;
}

.toolbar {
	grid-area: toolbar;
	overflow-y: auto;
}
