.root {
	display: flex;
	flex: 1;
	min-height: 0;
}

.preview {
	background: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 4px,
		var(--leveleditor-stripe-color) 4px,
		var(--leveleditor-stripe-color) 8px
	);
	border: solid var(--editor-border-color);
	border-width: 1px 1px 0 0;
	flex-grow: 1;
	overflow: scroll;
}
