.leftRight {
	display: flex;
	align-items: center;
}

.flexGrow {
	flex-grow: 1;
}

.levelSelectorPlaceholder {
	min-height: 42px;
}

.loading {
	flex-grow: 1;

	background: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 4px,
		#ccc 4px,
		#ccc 8px
	);
	border-top: 1px solid #000;
}
