.controls {
	display: flex;
	align-items: center;

	margin-top: 4px;
}

.flexGrow {
	flex-grow: 1;
}

.levelSelectorPlaceholder {
	min-height: 42px;
}

.loading {
	flex-grow: 1;

	background: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 4px,
		var(--leveleditor-stripe-color) 4px,
		var(--leveleditor-stripe-color) 8px
	);
	border-top: 1px solid var(--editor-border-color);
}
