.box {
	background: #ddd no-repeat;
	background-size: 81px 46px;
	padding: 0;
	position: absolute;
}

.currentBox {
	background-color: rgb(216, 255, 85);
}

.text {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background: rgba(255, 255, 255, 0.4);
}

.currentBox .text {
	background: none;
}
