.box {
	background: #ddd no-repeat;
	background-size: 81px 46px;
	padding: 0;
	position: absolute;
}

.currentBox {
	background-color: var(--luncheon-green);
}

.text {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background: rgba(255, 255, 255, 0.4);
	color: #000;
}

.currentBox .text {
	background: none;
}
