.content {
	display: flex;
	flex-direction: row;
}

.explanation {
	margin-bottom: 8px;
}

.geoPreview {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.geoPreviewSaveButton {
	margin-left: 8px;
}

.contentRight {
	margin-left: 20px;
}

.fileInput {
	display: flex;
}

.errorMessage {
	margin-top: 8px;
}
