.textInputRoot {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--mantine-spacing-xs);

	--input-label-size: var(--mantine-font-size-md);
}

.textInput {
	text-align: center;
	width: 95px;
}

.rgbLabelText {
	margin-right: 6px; /* there is already 4px gap */
}

.rgbInput {
	text-align: center;
	width: 70px;
}
