.root {
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.labelText {
	margin-right: 10px;
}

.textInput {
	text-align: center;
	width: 80px;
}

.rgbInput {
	margin-right: 4px;
	text-align: center;
	width: 60px;
}

.rgbInput:last-child {
	margin-right: 0;
}

.label {
	margin-left: 10px;
}
