.root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main {
	background: #fff;
	border-top: 1px solid var(--editor-border-color);
	flex: 1;
	padding: 0 10px;

	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {
	.main {
		overflow-y: scroll;

		align-items: center;
	}
}

@media (prefers-color-scheme: dark) {
	.main {
		background: transparent;
	}
}
