.root {
	margin-top: 10px;
}

.fullWidthControl {
	margin-bottom: 8px;
}

.grid {
	display: grid;
	grid-template-columns: max-content auto;
	margin-bottom: -8px;
}

.label {
	display: flex;
	align-items: center;
	margin: 0 8px 8px 0;
}

.selectControl {
	margin-bottom: 8px;
}

.textControl {
	margin-bottom: 8px;
}

@media (min-width: 801px) {
	.textControl {
		max-width: 600px;
	}

	.selectControl {
		width: 266px;
	}
}

.textInput {
	font-size: 2em;
}
