* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* https://www.dafont.com/domigorgon.font */
@font-face {
	font-family: 'Domigorgon';
	src: url('domigorgon-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	background: #eee;
	color: #000;
	cursor: default;
	font-size: 1em;
	margin: 0;
}

body,
input[type='text'],
input[type='number'],
button,
select {
	font-family: Domigorgon, sans-serif;
}

a {
	color: #c5aeff;
}

pre,
code {
	font-family: monospace;
}

pre {
	line-height: 1.5;
}

html,
body,
#root {
	height: 100%;
}

button,
select,
summary,
label,
input[type='checkbox'],
input[type='radio'] {
	cursor: pointer;
}

input[type='text'],
input[type='number'],
button,
select {
	border: 1px solid #999;
	padding: 2px;
}

input[type='text']:hover,
input[type='text']:focus,
input[type='number']:hover,
input[type='number']:focus,
button:hover,
button:focus,
select:hover,
select:focus {
	border-color: #333;
}

::-webkit-inner-spin-button {
	opacity: 1;
}

button {
	background: #eee;
	color: #000;
	font-size: 1em;
	padding: 2px 8px;
}

button[disabled] {
	cursor: not-allowed;
	opacity: 0.1;
}

:focus {
	outline: 1px solid #c5aeff;
}

#noscript-error {
	font-size: 2em;
	padding: 2em;
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
