@import url('./fonts/fonts.css');

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
	color: #000;
	cursor: default;

	--luncheon-teal: rgb(0, 243, 221);
	--luncheon-green: rgb(216, 255, 85);
	--luncheon-orange: rgb(255, 166, 148);
	--luncheon-purple: rgb(182, 154, 255);

	--body-text-color: #000;

	--input-background-color: #fff;
	--input-border-color: #999;
	--input-border-hover-color: #333;
	--input-text-color: #000;
	--button-background-color: #eee;

	--editor-border-color: #000;
	--leveleditor-stripe-color: #ccc;

	accent-color: var(--luncheon-purple);
}

@media (prefers-color-scheme: dark) {
	body {
		background: #1c1c1c;
		color: #fff;

		--body-text-color: #fff;

		--input-background-color: #3b3b3b;
		--input-border-color: #666;
		--input-border-hover-color: #888;
		--input-text-color: #fff;
		--button-background-color: #3b3b3b;

		--editor-border-color: #666;
		--leveleditor-stripe-color: #333;
	}
}

::selection {
	background: var(--luncheon-orange);
	color: #000;
}

body,
input[type='text'],
input[type='search'],
input[type='number'],
textarea,
button,
select {
	font-family: Domigorgon, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: 1em;
}

a {
	color: var(--luncheon-purple);
}

pre,
code {
	font-family: monospace;
}

pre {
	line-height: 1.5;
}

html,
body,
#root {
	height: 100%;
}

button,
select,
summary,
label,
input[type='checkbox'],
input[type='radio'],
input[type='color'] {
	cursor: pointer;
}

input[type='text'],
input[type='search'],
input[type='number'],
textarea,
button,
select {
	background: var(--input-background-color);
	border: 1px solid var(--input-border-color);
	color: var(--input-text-color);
	padding: 2px;
}

button,
select {
	background: var(--button-background-color);
}

input[type='text']:hover,
input[type='text']:focus,
input[type='search']:hover,
input[type='search']:focus,
input[type='number']:hover,
input[type='number']:focus,
textarea:hover,
textarea:focus,
button:hover,
button:focus,
select:hover,
select:focus {
	border-color: var(--input-border-hover-color);
}

label > input[type='checkbox'] {
	margin-right: 6px;
}

::-webkit-inner-spin-button {
	opacity: 1;
}

button {
	font-size: 1em;
	padding: 2px 8px;
}

button[disabled] {
	cursor: not-allowed;
	opacity: 0.2;
}

:focus {
	outline: 1px solid var(--luncheon-purple);
}

#noscript-error {
	font-size: 2em;
	padding: 2em;
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.ReactModal__Overlay {
	z-index: 9;
}

@media (prefers-color-scheme: dark) {
	.ReactModal__Overlay {
		background-color: rgba(0, 0, 0, 0.75) !important;
	}

	.ReactModal__Content {
		background: #000 !important;
		border-color: var(--input-border-color) !important;
	}
}

@media (max-width: 599px) {
	.ReactModal__Content {
		border: none !important;
		max-height: 100% !important;
	}
}
