* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* https://www.dafont.com/domigorgon.font */
@font-face {
	font-family: 'Domigorgon';
	src: url('domigorgon-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	background: #fff;
	color: #000;
	cursor: default;
	font-size: 1em;
	margin: 0;
	font-family: Domigorgon, sans-serif;
}

code {
	font-family: monospace;
}

html,
body,
#root {
	height: 100%;
}
