@import url('./fonts/fonts.css');

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
	color: #000;
	cursor: default;

	--luncheon-teal: rgb(0, 243, 221);
	--luncheon-green: rgb(216, 255, 85);
	--luncheon-orange: rgb(255, 166, 148);
	--luncheon-purple: rgb(182, 154, 255);

	--body-text-color: #000;

	--input-background-color: #fff;
	--input-border-color: #ced4da;
	--input-border-hover-color: #333;
	--input-text-color: #000;
	--button-background-color: #fff;

	--editor-border-color: #000;
	--leveleditor-stripe-color: #ccc;

	accent-color: var(--luncheon-purple);

	/* Mantine wants to use system-ui font on initial loading */
	--mantine-font-family:
		Domigorgon, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (prefers-color-scheme: dark) {
	body {
		background: #1c1c1c;
		color: #fff;

		--body-text-color: #fff;

		--input-background-color: #2e2e2e;
		--input-border-color: #424242;
		--input-border-hover-color: #888;
		--input-text-color: #fff;
		--button-background-color: #2e2e2e;

		--editor-border-color: #666;
		--leveleditor-stripe-color: #333;
	}
}

::selection {
	background: var(--luncheon-orange);
	color: #000;
}

body,
input[type='text'],
input[type='search'],
input[type='number'],
textarea,
button,
select {
	font-family: var(--mantine-font-family);
	font-size: 1em;
}

a {
	color: var(--luncheon-purple);
}

pre,
code {
	font-family: monospace;
}

pre {
	line-height: 1.5;
}

html,
body,
#root {
	height: 100%;
}

button,
select,
summary,
label,
input[type='radio'],
input[type='color'],
input[type='range'] {
	cursor: pointer;
}

input[type='text'],
input[type='search'],
input[type='number'],
input[type='color'],
button,
select {
	background: var(--input-background-color);
	border: 1px solid var(--input-border-color);
	color: var(--input-text-color);
	padding: 2px;
}

button,
select {
	background: var(--button-background-color);
}

input[type='color'] {
	padding: 0;
}

input[type='text']:hover,
input[type='text']:focus,
input[type='search']:hover,
input[type='search']:focus,
input[type='number']:hover,
input[type='number']:focus,
input[type='color']:hover,
input[type='color']:focus,
button:not(.mantine-UnstyledButton-root):hover,
button:not(.mantine-UnstyledButton-root):focus,
select:hover,
select:focus {
	border-color: var(--input-border-hover-color);
}

::-webkit-inner-spin-button {
	opacity: 1;
}

button {
	font-size: 1em;
	padding: 2px 8px;
}

button[disabled]:not(.mantine-UnstyledButton-root) {
	cursor: not-allowed;
	opacity: 0.2;
}

:focus:not(.mantine-UnstyledButton-root) {
	outline: 1px solid var(--luncheon-purple);
}

#noscript-error {
	font-size: 2em;
	padding: 2em;
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.mantine-Modal-title.mantine-Modal-title {
	font-size: 1.5em;
	line-height: 1.2;
	margin-inline-end: var(--mb-padding, var(--mantine-spacing-xs));
}

.mantine-Alert-message.mantine-Alert-message {
	font-size: var(--mantine-font-size-md);
}

.mantine-Checkbox-root {
	--label-fz: var(--mantine-font-size-md);
}
