.root,
.numberInputForm {
	display: flex;
	align-items: center;
}

.root {
	padding: 0 8px 4px 0;
}

.label,
.select,
.numberInput {
	margin-right: 8px;
}

.numberInput {
	text-align: right;
	width: 45px;
}
