.root {
	display: flex;
	height: 100%;
}

.preview {
	border: 1px solid #000;
	flex-grow: 1;
	height: 100%;
	overflow: scroll;
}

.sidebar {
	background: gray;
	width: 300px;
	white-space: pre-wrap;
	word-break: break-word;
}
