.root {
	background: #fff;
	cursor: crosshair;
	position: relative;

	/* naive for now */
	width: 1920px;
	height: 1080px;
}

.objectItem {
	position: absolute;
	z-index: 2;
}

.objectItemHover {
	background: #e0ff77;
}

.canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
