.root {
	background: #fff;
	border-top: 1px solid #000;
	min-height: 60px;
	height: 200px;
	overflow: scroll;
	position: relative;
	resize: vertical;
}

.box {
	background: #ddd;
	padding: 0;
	position: absolute;
}

.canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	outline: 1px solid #000;
}

.text {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	display: flex;
	align-items: center;
	justify-content: center;
}

.drawPreviews .text {
	background: rgba(255, 255, 255, 0.4);
}

.currentBox {
	background: yellow;
}

.currentBox .canvas {
	display: none;
}

.currentBox .text {
	background: none;
}
