.root {
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.fileInput {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 100%;

	cursor: pointer;
	opacity: 0;
}
