.spinner {
	border-color: rgb(182, 154, 255) rgb(182, 154, 255) transparent
		rgb(182, 154, 255);
	border-style: solid;
	border-width: 3px;
	border-radius: 50%;
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	animation: rotate 1.2s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
