.root {
	background: #fff;
	cursor: crosshair;
	position: relative;

	/* naive for now */
	width: 1920px;
	height: 1090px;
}

.addingObjectItem {
	pointer-events: none;
	position: absolute;
	z-index: 2;
	transform: translate(-50%, -50%);
}

.object {
	background: rgb(216, 255, 85);
}

.deco {
	background: rgb(182, 154, 255);
}

.geoCanvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	outline: 1px solid #000;
}
