.item {
	position: absolute;
	z-index: 3;
	cursor: grab;
}

.hover {
	outline: 5px solid var(--luncheon-purple);
}

.disabled {
	pointer-events: none;
	opacity: 0.2;
}

.grabbing {
	cursor: grabbing;
}
