.arrowBox {
	position: absolute;
	z-index: 2;

	display: flex;
	align-items: center;
	justify-content: center;
}

.top {
	top: -33px;
	left: 0;

	height: 25px;
	width: 100%;
}

.left {
	top: 0;
	left: -33px;

	padding: 0;
	width: 25px;
	height: 100%;
}

.right {
	top: 0;
	right: -33px;

	padding: 0;
	width: 25px;
	height: 100%;
}

.bottom {
	bottom: -33px;
	left: 0;

	height: 25px;
	width: 100%;
}
