.itemObj {
	position: absolute;
	z-index: 4;
	transform: translate(-50%, -50%);
}

.itemDeco {
	position: absolute;
	z-index: 3;
}

.objHover {
	background: rgb(216, 255, 85);
}

.decoHover {
	outline: solid 5px;
	outline-color: rgb(182, 154, 255);
}
